<!DOCTYPE html>
<html lang="en">
  <head>
  <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="theme-color" content="#000000" />
    <meta
      name="description"
      content="Web site created using create-react-app"
    />
    <title>Administración de Pacientes</title>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css"
    />
    <link
      href="https://fonts.googleapis.com/css?family=Staatliches"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.min.css"
    />
    {% load static %}
    <link rel="stylesheet" href=" {% static './base.css' %}" />
  </head>
  <body>
    <noscript>You need to enable JavaScript to run this app.</noscript>
    <h1>Administrador de pacientes</h1>
    <div class="container">
      <div class="row">
        <div class="one-half column">
          <h2>Crear Cita</h2>

          <form action="/baseCita/" method="GET">
            <label>Nombre Mascota</label>
            <input
              type="text"
              name="mascota"
              class="u-full-width"
              placeholder="Nombre Mascota"
            />

            <label>Nombre Dueño</label>
            <input
              type="text"
              name="propietario"
              class="u-full-width"
              placeholder="Nombre Dueño de la mascota"
            />

            <label>Fecha</label>
            <input
              type="date"
              name="fecha"
              class="u-full-width"
            />

            <label>Hora</label>
            <input
              type="time"
              name="hora"
              class="u-full-width"
            />

            <label>Síntomas</label>
            <textarea
              class="u-full-width"
              name="sintomas"
            ></textarea>

            <button type="submit" class="u-full-width button-primary">
              Agregar Cita
            </button>
          </form>
        </div>
        <div class="one-half column">
          {% block content %} {% endblock %}
        </div>
      </div>
    </div>
  </body>
</html>
